<section class="menu">
  <div class="menu-header">
    <h1 class="menu-title">Our Menu</h1>
  </div>

  <div class="menu-grid">
    <mat-card class="menu-card" *ngFor="let item of menuItems">
      <img mat-card-image [src]="item.image" [alt]="item.alt" />

      <mat-card-content>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <span class="price">
          {{ getDisplayPrice(item) }}
        </span>

        <mat-button-toggle-group class="pack-toggle" *ngIf="item.options?.length" [value]="getSelectedOption(item)" (change)="selectOption(item, $event.value)">
          <mat-button-toggle *ngFor="let option of item.options" [value]="option"> {{ option.label }} </mat-button-toggle>
        </mat-button-toggle-group>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToOrder(item)">
          Add to Order
        </button>
      </mat-card-actions>
    </mat-card>
    <button mat-fab class="cart-fab" 
            [matBadge]="cartItemCount()" 
            [matBadgeHidden]="cartItemCount() === 0"
            [class.raised]="fabRaised()"
            (click)="openCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</section>